<footer>
  <div class="social-links">
      <section class="about">
          <h2>About</h2>
          <p>A news site that is interested in publishing the details of the event over time and is interested in political, international and local news, art, health, weather, sports and technology news.</p>
          <div class="social-icons-footer">
              <a href="https://web.facebook.com/mohamed.uwk.5249" target="_blank"><i class="fa fa-facebook-square"></i></a>
              <a href="https://twitter.com/Mohamed38Uwk" target="_blank"><i class="fa fa-twitter-square"></i></a>
              <a href="shmohamed229@gmail.com" target="_blank"><i class="fa fa-google-square"></i></a>
              <a href="https://www.instagram.com/ah.mohamed38"><i class="fa fa-instagram"></i></a>
              <i class="fa fa-ess-square"></i>
              <i class="fa fa-youtube-square"></i>
              <i class="fa fa-pinterest-square"></i>
              <a href="https://www.linkedin.com/in/mohammed-shabaan-othman-3392a2191/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </div>
      </section>
      <section class="instagram">
          <h2>Instagram</h2>
          <img src="assets/images/aside2.jpg" alt="">
          <img src="assets/images/aside3.jpg" alt="">
          <img src="assets/images/aside4.jpg" alt="">
          <img src="assets/images/aside5.jpg" alt="">
          <img src="assets/images/aside2.jpg" alt="">
          <img src="assets/images/aside3.jpg" alt="">
          <img src="assets/images/aside4.jpg" alt="">
          <img src="assets/images/aside5.jpg" alt="">
          <a href="https://www.instagram.com/ah.mohamed38" target="_blank">
            <button type="button" class="footer-button">
              View in instagram
            </button>
          </a>
      </section>
      <div class="subscripe">
          <h2>subscribe to News Tody</h2>
          <p>Enter your Email address to Subscribe to this blog and receive notifications of new posts by email</p>
          <input type="email" class="form-control" placeholder="Email Address" name="" id="">
          <button type="button" class="footer-button">Subscribe</button>
      </div>
  </div>
  <div class="Copyright">Copyright &copy; 2023 Egy News. Developer by Mohamed Shaban Othman</div>
</footer>
